@import "variables.scss";
/* 改变主题色变量 */
$--color-primary: $theme-color;

$--color-text-regular: $font-color;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~lvx-ui/lib/theme-chalk/fonts';
@import "~lvx-ui/packages/theme-chalk/src/index";