//
// Variables author James Yue
// --------------------------------------------------

/*System Style Base Value
灰阶
色系
行高
字符间距
字号
 */

//** 灰阶
$white: #fff !default;
$gray-100: #ffa000 !default;
$black:  #000 !default;

//** 灰阶

//**色系
$theme-color: #ff9d00; //主题色
$hover-color: #6297ff; //悬停色
$border-color: #d9d9d9; //边框颜色
$disabled-color: #f7f7f7; //失效颜色
$font-color: rgba(0,0,0,.65); //字体颜色
$placeholder-color: #959595; //输入提示字体颜色
$green-color: #02a01b; //绿
$red-color: #f64f38; //红
//**色系

//** 行高
$line-height-article: 1.7; //文章类行高
//** 行高


//** 字符间距
$letter-space-base: 0;
//** 字符间距

//** 字号
$font-size-small: 12px; //小号字体
$font-size-content: 14px; //标准正文字体
$font-size-title: 16px; //标题字体
//** 字号



/* System Common Style Default Value
字体名称
body 内部字号
网页中间区域宽度
响应式PC屏幕宽度临界值
*/
$font-family-base: "Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;" !default;
$font-size-body: $font-size-content;
$font-weight-base: normal !default;
$body-bg: #fff;
$body-min-width: 1200px;

//responsive screen width
$responsive-xs-width: 768px;
$responsive-sm-width: 992px;
$responsive-md-width: 1200px;
/* System Common Style Default Value
*/


/* System Business Compomtents Style Value
字体颜色
背景颜色
字号
行高
*/

/** Compontent variables
Header
Footer

*/
//nav-menu
$nav-menu-bg-color: #001529;
//header
$header-color: $gray-100;
$header-height: 67px;

//footer
$footer-color: $gray-100;




/* System Base Compomtents Style Value
Button
*/
//Button


//global config
$prefix-css: lvx !default;

// 表格统一间距
$content-margin: 12px;
$content-spacing: 25px;
$card-spacing: 20px; //页面中卡片的外边距
$pagination-margin: 20px; //分页组件上下外边距







