@mixin text-overflow() {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin text-decoration($value) {
  &:hover{
    text-decoration: $value;
  }
  &:active{
    text-decoration: $value;
  }
  &:visited {
    text-decoration: $value;
  }
  &:focus {
    text-decoration: $value;
  }
}
